@import "./reset.scss";

@import "./themes/dark.scss";

@import "./themes/light.scss";

@import "./themes/violet.scss";

@import "./variables/global.scss";

body,
.app-dark-theme,
.app-light-theme,
.app-violet-theme {
  color: var(--primary-color);
  font: var(--font-m);
  background: var(--bg-color);
}

.app {
  width: 100%;
  min-height: 100vh;
}

.content-page {
  display: flex;
}
