.popup {
  position: relative;

  .top-left {
    right: 0;
    bottom: 100%;
  }

  .top-right {
    bottom: 100%;
    left: 0;
  }

  .bottom-left {
    top: 100%;
    right: 0;
  }

  .bottom-right {
    top: 100%;
    left: 0;
  }
}
