.sidebar {
  position: relative;
  width: var(--sidebar-width);
  height: calc(100vh - var(--navbar-height));
  background: var(--inverted-bg-color);
  transition: width 0.3s;

  .button {
    position: absolute;
    right: -32px;
    bottom: 32px;
    z-index: var(--sidebar-button-z-index);
  }

  .links {
    margin: 20px 30px;
  }

  .switchers {
    position: absolute;
    bottom: 20px;
  }
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .switchers {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
