.comment-card {
  padding: 10px;
  background: var(--code-bg);
  border: 1px solid var(--primary-color);

  .header {
    display: flex;
    gap: 8px;
    align-items: center;

    .username {
      margin-left: 10px;
    }
  }
}
