.listbox {
  position: relative;

  .options {
    position: absolute;
    z-index: var(--listbox-z-index);
    background: var(--listbox-bg);
    border-radius: 12px;
    box-shadow: 4px 4px 8px var(--listbox-bg);

    .item {
      padding: 10px 20px;

      .icon {
        fill: var(--primary-color);
      }
    }

    .active {
      background: var(--inverted-primary-color);
      border-radius: 12px;
    }

    .disabled {
      opacity: 0.5;
    }
  }

  .top-left {
    right: 0;
    bottom: 100%;
  }

  .top-right {
    bottom: 100%;
    left: 0;
  }

  .bottom-left {
    top: 100%;
    right: 0;
  }

  .bottom-right {
    top: 100%;
    left: 0;
  }
}

.readonly {
  color: var(--secondary-color);
}

.enter {
  transform: scale(0.6);
  transition: .1s transform;
  transition-timing-function: ease-out;
  transition-duration: 100ms;
  transition-property: all;
}

.enter-from {
  transform: scale(0.95);
  opacity: 0;
}

.enter-to {
  transform: scale(1);
  opacity: 1;
}

.leave {
  transform: scale(0.6);
  transition: .1s transform;
  transition-timing-function: ease-out;
  transition-duration: 75ms;
  transition-property: all;
}

.leave-from {
  transform: scale(1);
  opacity: 1;
}

.leave-to {
  transform: scale(0.95);
  opacity: 0;
}
