.app-violet-theme {
  --bg-color:#fbf4f6;
  --inverted-bg-color: #fd5564;
  --primary-color: 	#b9139D;
  --secondary-color:#fe16cf;
  --inverted-primary-color: #59084e;
  --inverted-secondary-color: #aa15bb;
}
