.article-wrapper {
  flex-grow: 1;
  height: calc(100vh - var(--navbar-height));
}

.list {

  .list-wrapper {
    margin: 20px 20px 20px 45px;
  }
}

.tile {

  .tile-wrapper {
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
    justify-content: center;
  }
}
