.popover {
  position: relative;
  height: 24px;
  cursor: pointer;

  .panel {
    position: absolute;
    z-index: var(--dropdown-z-index);
    padding: 10px 20px;
    background: var(--card-bg);
    border-radius: 12px;
  }
}

.enter {
  transform: scale(0.6);
  transition: .1s transform;
  transition-timing-function: ease-out;
  transition-duration: 100ms;
  transition-property: all;
}

.enter-from {
  transform: scale(0.95);
  opacity: 0;
}

.enter-to {
  transform: scale(1);
  opacity: 1;
}

.leave {
  transform: scale(0.6);
  transition: .1s transform;
  transition-timing-function: ease-out;
  transition-duration: 75ms;
  transition-property: all;
}

.leave-from {
  transform: scale(1);
  opacity: 1;
}

.leave-to {
  transform: scale(0.95);
  opacity: 0;
}
