.form {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 360px;
  
  .text {
    display: flex;
    justify-content: center;
  }

  .input {
    margin-top: 10px;
  }

  .icon {
    position: absolute;
    top: 78px;
    left: 314px;
    color: var(--primary-color);
    cursor: pointer;
  }

  .button {
    margin-top: 15px;
    margin-left: auto;
  }
}
